/* основний фон та колір тексту */
:root {
  --accent-color: #2196f3;
  --primary-color-title: #212121;
  --color-nav: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

/* удалення крапочок напроти пунктів списку */
ul {
  list-style: none;
}

/* логотип */
.logo {
  color: var(--accent-color);
}

.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

/* навігація сайту */
.site-pagination .link:hover,
.site-pagination .link:focus {
  color: var(--accent-color);
}

.site-pagination .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--color-nav);
}

.site .site-link:hover,
.site .site-link:focus {
  color: var(--accent-color);
}

.site .site-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

/* фільтри */
.site-nav {
  color: var(--color-nav);
  cursor: pointer;
}

.site-nav .site-button:hover,
.site-nav .site-button:focus {
  background: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}

.site-nav .site-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background: #f5f4f4;
  color: var(--color-nav);
  border-color: transparent;
}

/* головна інформація сайту */

/* секція реклама */
.promo {
  background: #2f303a;
}

.promo-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: #ffffff;
  border-color: transparent;
}

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-color-title);
}

.galery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-color-title);
}

.aside .aside-link {
  text-decoration: none;
}

.aside-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color-title);
}

.aside-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}

/* герої */
.hero {
  background: #f5f4fa;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-color-title);
}
.hero-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-color-title);
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* підвал */
.contacts {
  background: #2f303a;
}

.contacts .logo-link {
  text-decoration: none;
  color: #ffffff;
}

.contacts-adress {
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
}

.contacts-link:hover,
.contacts-link:focus {
  background: var(--accent-color);
}

.contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}
